:root {
  --color-primary: hsl(45, 87%, 57%);
  --color-black: hsl(0, 0%, 0%);
  --color-black-95: hsl(0, 0%, 95%);
  --color-black-50: hsl(0, 0%, 50%);
  --color-black-20: hsl(0, 0%, 20%);
  --color-white: hsl(100, 100%, 100%);
  --color-danger: rgb(255, 70, 70);
}
* { margin: 0; padding: 0; }
html {
  scroll-behavior: smooth;
  transition: all 0.2s ease-in;
}
body {
  background-color: var(--color-black);
  font-family: 'Poppins', sans-serif;
}

/* custom patterns */
.flex-row { display: flex; }
.flex-col { display: flex; flex-direction: column; }
.align-center { align-items: center; }
.justify-center { justify-content: center; }

.visible {
  display: flex;
}

.btn {
  padding: 1rem;
  text-transform: uppercase;
  border: none;
  font-weight: 500;
  cursor: pointer;
  transition: all .2s;
  font-size: 1rem;
  transition: transform .2s ease-in;
}
.btn:hover {
  transform: scale(1.1);
}
.btn-primary {
  background-color: var(--color-primary);
}

.btn-secondary { 
  background-color: var(--color-black-20);
}

/* header */
.header {
  width: 50vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all .5s;
}
.header img {
  object-fit: cover;
  width: 100%;
  height: 100vh;
}
.header__full {
  width: 100vw;
  height: 100vh;
}
.highlight {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  text-align: center;
}
.highlight h1 {
  font-size: 3rem;
  color: var(--color-black);
  line-height: 4rem;
  background-color: var(--color-white);
  padding: 1.5rem;
  margin-bottom: 2rem;
  /* text-shadow: .1rem .1rem .1rem rgba(0, 0, 0, 0.3); */
}
.highlight .btn {
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.1);
}