:root {
  --color-primary: hsl(45, 87%, 57%);
  --color-black: hsl(0, 0%, 0%);
  --color-black-95: hsl(0, 0%, 95%);
  --color-black-50: hsl(0, 0%, 50%);
  --color-black-20: hsl(0, 0%, 20%);
  --color-white: hsl(100, 100%, 100%);
  --color-danger: rgb(255, 70, 70);
}
* { margin: 0; padding: 0; }
html {
  scroll-behavior: smooth;
  transition: all 0.2s ease-in;
}
body {
  background-color: var(--color-black);
  font-family: 'Poppins', sans-serif;
}

.flex-row { display: flex; }
.flex-col { display: flex; flex-direction: column; }
.align-center { align-items: center; }
.justify-center { justify-content: center; }

.visible {
  display: flex;
}

.btn {
  padding: 1rem;
  text-transform: uppercase;
  border: none;
  font-weight: 500;
  cursor: pointer;
  transition: all .2s;
  font-size: 1rem;
  transition: transform .2s ease-in;
}
.btn:hover {
  transform: scale(1.1);
}
.btn-primary {
  background-color: var(--color-primary);
}

.btn-secondary { 
  background-color: var(--color-black-20);
}